<div class="login">
    <input type="text" id="username_field" placeholder="Username">
    <input type="password" id="password_field" placeholder="Password">
    <input type="submit" id="submit_login" value="Submit">
</div>