*{
	box-sizing: border-box;
}
body{
	background-color: #10171e;
	margin:0px;
	display: flex;
	flex-direction: column;
	color: white;
}

.navbar{
	padding: 10px;
  	color: white;
  	background-color: #223342;
}

.navbar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.navbar ul li{
	margin: 5px;
}

.nav_search{
	display:none;
}

.nav_search input{
	flex-grow: 1;
}

.sidebar{
	background-color: green;
}

.main{
	width: 100%;
	background-color: #192530;
	margin-top: 5px;
	border-color: #56626d;
	border-style: solid;
	border-width: 2px;
}

.left, .right, .main{
	float: left;
	border-style: solid;
	border-color: red;
}
.left, .right{
	position: sticky;
	top: 0;
	width: 25%;
}


.form_div{
	display: flex;
	flex-direction: column;
	padding: 50px;
	height: 400px;
	justify-content: space-between;
}

.form_div *{
	border-radius: 5px;
	height: 15%;
}

.product_div{
	padding: 10px;
	border-color: #56626d;
	border-style: solid;
	border-width: 2px;
}

#cart_div{
	min-height: 500px;
}
img{
	max-width: 100%;
	height: auto;
}

.hidden{
	display: none;
}

.alert_div{
	background-color: rgba(255, 0, 0, 0.4);
	border-style: solid;
	border-color: red;
	color: red;
	padding: 10px;
	height: auto;
}

@media screen and (min-width: 768px){
	.nav_search{
		display:flex;
		flex-grow: 1;
	}

	.main{
		width: 50%;
	}
}
