*{
	box-sizing: border-box;
}
body{
	background-color: #10171e;
	margin:0px;
	color: white;
}

button, input[type=submit	]{
	border-radius: 100px;
    box-shadow: none;
    background-color: #15202b;
    border: 1px solid #1da1f2;
    color: #1da1f2;
    font-size: 12px;
    padding: 4px 12px;
    margin-right: 10px;
    text-align: center;
	height: 32px;
	cursor: pointer;
}

button:hover{
	background-color: #1b3448;
}

.navbar{
  	color: white;
  	background-color: #223342;
  	width: 100%;
  	height: 50px;
  	font-size: 0;
  	display: flex;
  	flex-direction: row;
}

.navbar div{
	display: flex;
	height: 100%;
	padding: 12px;
}

.nav_links{
	width:  25%;
	font-size: initial;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.nav_links a{
	padding: 14px;
	color: #8899a6; 
	font-size: 20px;
	font-weight: bold;
	border-bottom-color: #1da1f2;
	border-bottom-width: 2px;
	border-bottom-style: hidden; 
	text-decoration: none;
}

.nav_links a:hover{
	border-bottom-style: solid; 
}

.nav_search{
	width: 50%;
	text-align: center;
}

.nav_buttons{
	width: 25%;
	display: flex;
	justify-content: flex-end;
}

#search_input{
	flex-grow: 1;
	background-color: #182430;
    border-radius: 21px;
    border: 1px solid #38444d;
    color: #fff;
    font-size: 12px;
    height: 32px;
    line-height: 16px;
    padding: 8px 32px 8px 12px;
    transition: all .2s ease-in-out;
    width: 100%;
    margin-right: 10px;
}

.alert_div{
	display: block;
	width: 40%;
	border-radius: 10px;
	padding: 12px;
	text-align: center;
	position: fixed;
	z-index: 1;
	left: 0;
	right: 0;
	margin: 0 auto;
	height: 40px;
	color: white;
	margin-top: 10px;
	font-size: 15px;
}

.negative{
	background-color: #f44336;
}

.positive{
	background-color: #4CAF50;
}

.alert_text{
	vertical-align: middle;
}

.sidebar{
	background-color: green;
}

.content{
	display: block;
	width: 70%;
	margin: auto;
}

.column{
	display: inline-block;
	height: 100%;
	padding: 5px;
}

.cl-1{
	width: 25%;
	float: left;
	padding: 0;
	border-style: none;
	border-color: none;
}
.cl-2{
	width: 50%;
}
.cl-3{
	position: sticky;
	top: 0;
	width: 25%;
	float: right;
	height: initial;
}

.main, .left, .right{
	background-color: #192530;
	border-color: #56626d;
	border-style: solid;
	border-width: 1px;
}


.form_div{
	display: flex;
	flex-direction: column;
	padding: 50px;
	height: 400px;
	justify-content: space-between;
}

.form_div *{
	border-radius: 5px;
	height: 15%;
}

#info_div{
	display: block;
	overflow: hidden;
	word-break: break-all;
}

#editProfile_button{
	color: gray;
	float: right;
}

#editProfile_button:hover{
	color: white;
	cursor: pointer;
}

#info_div img{
	margin-right: 20px;
	border-radius: 150px;
	width: 150px;
	float: left;
}

.section_main{
	border-bottom:1px solid;
	border-color: #56626d;
	padding: 10px;
}

.product_div{
	border-bottom: 1px solid;
	border-color: #414950;
}

.title_div *{
	display: inline-block;
}
.title_div .product_price{
	float: right;
	font-size: 40px;
	margin-bottom: 0;
	margin-top: 20px;
	margin-right: 40px
}

.title_div .product_sold{
	margin-left: 10px;
	font-size: 20px;
	color: gray;
}


#cart_div{
	min-height: 500px;
	padding: 10px
}

img{
	max-width: 100%;
	height: auto;
}

.modal{
	display: block; 
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
}

.modal-content{
	background-color: #fefefe;
  	margin: 15% auto; /* 15% from the top and centered */
  	border: 1px solid #888;
  	width: 60%; /* Could be more or less, depending on screen size */
  	color: black;
}

.modal-body > *{
	display: block;
	width: 100%;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
}

.modal-body{
	padding: 50px;
	padding-top: 30px;
}

.modal-header {
  	padding: 2px 16px;
  	background-color: #223342;
  	color: white;
  	padding-right: 2;
}

.close {
  	color: white;
  	float: right;
  	font-size: 28px;
  	font-weight: bold;
  	display: inline-block;
  	width: 32px;
  	text-align: center;
}

.close:hover,
.close:focus {
  	color: #aaa;
  	text-decoration: none;
  	cursor: pointer;
}

.hidden{
	display: none;
}


@media screen and (max-width: 768px){
	.cl-1{
		display: none;
	}
	.cl-2{
		width: 100%;
	}
}	
