*{
	box-sizing: border-box;
}
body{
	background-color: #10171e;
	margin:0px;
	color: white;
}
a, button{
	transition: all 0.2s ease-in-out;
}
button{
	font-size: 14px;
	height: 32px;
}

input{
	background-color: #10171e;
    border-radius: 21px;
    border: 1px solid #38444d;
    color: #fff;
    padding: 10px;
}
input:focus{
	border-color: #1da1f2;
	outline: 0;
}

a{
	color: #192530;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
.primary_button{
	border-radius: 100px;
	box-shadow: none;
	background-color: #1da1f2;
	border: 1px solid #1da1f2;
	color: #ffff;
	padding: 4px 12px;
	text-align: center;
	cursor: pointer;
}

.secondary_button{
	border-radius: 100px;
    box-shadow: none;
    background-color: #15202b;
    border: 1px solid #1da1f2;
    color: #1da1f2;
    font-size: 12px;
    padding: 4px 12px;
    text-align: center;
	height: 32px;
	cursor: pointer;
}

button:hover{
	background-color: #1b3448;
}

button:focus{
	outline:0;
	background-color: #1da1f2;
	color: white;
}

/* navbar css */
.navbar{
  	color: white;
  	background-color: #223342;
  	width: 100%;
  	height: 50px;
  	font-size: 0;
}

.nav-left, .nav-right, .nav-center{
	display: inline-block;
	/* margin-top: auto; */
	/* margin-bottom: auto; */
}

.navbar_content{
	width: 1199;
	display: block;
	margin-right: auto;
	margin-left: auto;
	height: 100%;
}

.nav-center{
	height: 100%;
	width: 60%;
	float: left;
}
.nav-right{
	height: 100%;
	width: 25%;
	float: right;
}

.nav_links{
	width:  50%;
	display: inline-block;
	text-align: center;
	height: 100%;
	overflow: hidden;
}

.nav_links a{
	color: #8899a6;
	font-size: 20px;
	font-weight: bold;
	border-bottom-color: #1da1f2;
	border-bottom-width: 2px;
	border-bottom-style: hidden;
	text-decoration: none;
	height: 100%;
	display: inline-block;
	padding: 13px;
}

.nav_links a:hover{
	border-bottom-style: solid; 
	color: #1da1f2;
}

.nav_search{
	width: 100%;
	heught: 100%;
	text-align: center;
	display: inline-block;
	overflow: hidden;
	padding: 10px;
}

.nav_buttons{
	height: 100%;
	width: 50%;
	display: inline-block;
	padding: 7px
}

#search_input{
	background-color: #182430;
    font-size: 12px;
    height: 32px;
    line-height: 16px;
    padding: 8px 32px 8px 12px;
    width: 70%;
    margin-right: 10px;
}

/* alert css */

.alert_div{
	display: block;
	width: 40%;
	border-radius: 10px;
	padding: 12px;
	text-align: center;
	position: fixed;
	z-index: 1;
	left: 0;
	right: 0;
	margin: 0 auto;
	height: 40px;
	color: white;
	margin-top: 10px;
	font-size: 15px;
}

.negative{
	background-color: #f44336;
}

.positive{
	background-color: #4CAF50;
}

.alert_text{
	vertical-align: middle;
}

/* main content */

.content{
	display: block;
	width: 1199px;
	margin: auto;
}

.column{
	display: inline-block;
	padding: 5px;
}

.cl-1{
	width: 25%;
	float: left;
}
.cl-2{
	width: 50%;
}
.cl-3{
	position: sticky;
	top: 0;
	width: 25%;
	float: right;
	height: initial;
}


.form_div{
	padding: 50px;
	padding-bottom: 10px;
	height: 400px;
}

.form_div input, .form_div button{
	border-radius: 5px;
	height: 15%;
	width: 100%;
	margin-bottom: 10px;
}
.form_div h2{
	margin: 10px;
	text-align: center;
}

/* edit profile */

#editProfile_button{
	color: gray;
	float: right;
}

#editProfile_button:hover{
	color: white;
	cursor: pointer;
}

/* profile information */

.info_content{
	display: block;
	overflow: hidden;
	word-break: break-word;
	margin: 10px;
}

.info_content img{
	margin-right: 20px;
	border-radius: 150px;
	width: 35%;
	float: left;
}

.section_main{
	background-color: #192530;
	border-color: #56626d;
	border-style: solid;
	border-width: 1px;
	margin-bottom: 20px;
}

.section_content{
	padding: 5px;
}

.product_div{
	border-bottom: 1px solid;
	border-color: #414950;
	overflow: hidden;
	padding-bottom: 5px;
}
.product_div .button_div{
	display: block;
}

.title_div *{
	display: inline-block;
}

.title_div h1{
	/* font-size: 3vw; */
}

.title_div h2{
	/* font-size: 1.5vw; */
}
.title_div .product_price{
	float: right;
	/* font-size: 3vw; */
	margin-bottom: 0;
	margin-top: 20px;
	margin-right: 40px;
}

.title_div .product_sold{
	margin-left: 10px;
	font-size: 20px;
	color: gray;
}


#cart_div{
	min-height: 300px;
	overflow: hidden;
	display: block;
}

.header_div{
	padding: 10px;
	background-color: #1b3448;
	overflow: hidden;
}
.header_div h1{
	margin: 0px;
	display: inline;
}
#cartList_div{
	min-height: 200px;
	padding: 10px;
	padding-top: 0px;
}
.cartProduct_div{
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #414950;
	overflow: hidden;
	padding-bottom: 10px;
}

.cartProduct_div div{
	display: block;
	margin-bottom: 10px;
}

.cartProduct_title{
	margin-bottom: 2px;
	margin-top: 5px;
}
.cartProduct_price{
	display: inline;
}
#cart_buy{
	float: right
}

#advancedSearch_form{
	padding: 5px;
}

#advancedSearch_form input{
	width: 100%;
	margin-bottom: 10px;
	border-radius: 21px;
	height: 32px;
	padding-left: 10px;

}
.float_right{
	float: right;
}
img{
	max-width: 100%;
	height: auto;
	margin:  auto;
	display: block;
}

.modal{
	display: block; 
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
}

.modal-content{
	background-color: #182430;
  	margin: 15% auto; /* 15% from the top and centered */
  	border: 1px solid #888;
  	width: 40%; /* Could be more or less, depending on screen size */
  	color: black;
}

.modal-body > input{
	display: block;
	width: 100%;
	margin-bottom: 10px;
	background-color: #10171e;
}

.modal-body{
	padding: 50px;
	padding-top: 30px;
}

.modal-header {
  	padding: 2px 16px;
  	background-color: #223342;
  	color: white;
  	padding-right: 2;
}

.modal_footer{
	display: inline-block;
}

.close {
  	color: white;
  	float: right;
  	font-size: 28px;
  	font-weight: bold;
  	display: inline-block;
  	width: 32px;
  	text-align: center;
}

.close:hover,
.close:focus {
  	color: #aaa;
  	text-decoration: none;
  	cursor: pointer;
}

.hidden{
	display: none !important;
}

@media screen and (max-width: 1200px){
	.content{
		width: 767px;
	}
	.navbar_content{
		width: 767px;
	}
	.cl-1{
		width: 70%;
	}
	.cl-2{
		width: 70%;
	}
	.cl-3{
		width: 30%;
	}
}

@media screen and (max-width: 767px){
	h1{
		font-size: 22px;
	}
	h2{
		font-size: 14px
	}
	p{
		font-size: 12px;
	}
	button{
		font-size: 11px;
		height: 28px;
	}
	.navbar_content{
		width: 100%;
	}
	.nav-center{
		width: 100%;
	}
	.nav-right{
		display: none;
	}
	.content{
		width:100%;
	}
	.cl-1{
		display: none;
	}
	.cl-2{
		width: 100%;
	}
	.cl-3{
		display: none;
	}
}	